#box{
    width: 100px;
    height:100px;
    background-color: aqua;
}

.query{
    padding: 5px;
    margin-right: 5px;
    background-color: aqua;
    float: left;
    display: none;
}

.red{
color:coral}

.green{
color: green}